.wrapper{
    margin: 0 15px;
}
section{
    margin-bottom: 60px;
}
h1, h2, h4, h5{
    font-family: Raleway;
    font-style: normal;
    font-weight: 400;
    line-height: 59px;
}
h2{
    font-size: 40px;
    text-align: center;
    color: #282C71;
    margin-bottom: 40px;
}
h3{
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;    
}
p{
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    color: #333333;
}
a{
    font-family: Raleway;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0em;
    position: relative;
}
.header_menu{
    background: #FFFFFF;
}
.header_menu > .wrapper{/*//////////////////////////////////////////*/
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.adress{
    flex: 0 0 100%;
    position: absolute;
    top: 420px;
    left: 0;
}
.adress > a{
    display: block;
    margin: 0 0 24px 28px;
}
.telephone{
    flex: 0 0 100%;
    text-align: left;
    position: absolute;
    top: 508px;
    left: 0;
}
.telephone > a{
    display: block;
    margin: 0 0 24px 28px;
}
.sosial{
    flex: 0 0 100%;
    text-align: left;
    position: absolute;
    top: 596px;
    left: 0;
}
.sosial > a{
    display: block;
    margin: 0 0 24px 35px;
}
.sosial > a::before{
    content: "";
    background: url('../image/css_sprites.png') -52px -314px;
    height: 25px;
    width: 30px;
    position: absolute;
    left: -35px;
    top: -5px;
}
.sosial > .sosial_list{
    margin: 0 0 30px 0;
}
.sosial > .sosial_list > a{
    margin: 0 25px 0 0;
}
.adress > a::before{
    content: "";
    background: url('../image/css_sprites.png') -10px -362px;
    height: 25px;
    width: 18px;
    position: absolute;
    left: -28px;
    top: 0;
}
.telephone > a + a::before{
    content: "";
    background: url('../image/css_sprites.png') -48px -362px;
    height: 25px;
    width: 18px;
    position: absolute;
    left: -28px;
    top: 0;
}
.header_menu > .wrapper > .adress > a, .header_menu > .wrapper > .telephone > a, .header_menu > .wrapper > .sosial > a{
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: #333333;
}
.header_menu > .wrapper > .horizon_flex > div > a, .header_menu > .wrapper > .horizon_flex > div > nav > a{
    text-align: left;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.header_menu > .wrapper > .telephone > .submit{
    display: none;
}
.horizon_flex{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 30px 0;
    position: relative;
}
.header_menu > .wrapper > .horizon_flex > .logo{
    flex: 0 0 100%;
    text-align: center;
    border-bottom: #282C71 1px solid;
}
.header_menu > .wrapper > .horizon_flex > .logo::after{
    content: "";
    height: 1px;
    width: 17px;
    transform: rotate(45deg);
    background: #133355;
    position: absolute;
    top: 14px;
    right: 15px;
}
.header_menu > .wrapper > .horizon_flex > .logo::before{
    content: "";
    height: 1px;
    width: 17px;
    transform: rotate(-45deg);
    background: #133355;
    position: absolute;
    top: 14px;
    right: 15px;
}
.header_menu > .wrapper > .horizon_flex > div{
    width: 100%;
}
.header_menu > .wrapper > .horizon_flex > .sosial_list{
    margin: 254px 0 0 0;
}
.links_header_menu{
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 100%;
    padding: 22px 0;
    flex-direction: column;
    border-bottom: #282C71 1px solid;
}
.links_header_menu > a{
    color: #282C71;
}
.links_header_menu > .main_page_menu_link{
    display: block;
}
.links_header_menu > .conacts_menu_link{
    display: none;
}
.links_header_menu > a + a{
    margin: 24px 0 0 0;
}
.header_menu > .wrapper > .horizon_flex > div > .enroll{
    display: none;
}
.enroll{
    display: block;
    padding: 9px 46px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 25px;
    background: #B71F27;
    flex: 0 0 29%;
}
.header_menu > .wrapper > .horizon_flex > .lenguage{
    flex: 0 0 100%;
    padding: 10px 0;
    text-align: center;
    border-bottom: #282C71 1px solid;
}
.header_menu > .wrapper > .horizon_flex > .lenguage > a{
    font-weight: 400;
    color: #909090;
    padding: 0 14px;
    display: inline;
    border-right: 1px solid #282C71;
    text-transform: uppercase;
}
.header_menu > .wrapper > .horizon_flex > .lenguage > a{
    color: #04041D;
}
.header_menu > .wrapper > .horizon_flex > .lenguage > a:last-child{
    padding-right: 0;
    border: none;
}
.header_menu > .wrapper > .horizon_flex > .lenguage > .active{
    color: #B71F27;
}
.mySwiper > .swiper-wrapper{
    padding: 0 0 45px 0;
}
#swiper-pagination{
    bottom: 0;
}
.mySwiper > .swiper-wrapper > .swiper-slide{
    background: url('../image/banner1.jpg') 0% 0% / cover;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swiper-pagination-bullet{
    width: 15px;
    height: 15px;
    background: #BBC9D0;
}
.swiper-pagination-bullet-active{
    background: #B71F27;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .wrapper{
    font-size: 0;
    text-align: left;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .wrapper > *{
    max-width: 670px;
    color: #FFFFFF;
    text-align: left;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .wrapper > h2{
    font-size: 54px;
    font-weight: 700;
    line-height: 63px;
    letter-spacing: 0em;
    margin: 0;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .wrapper > p{
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0em;
    margin: 15px 0 40px 0;
}
.mySwiper > .swiper-wrapper > .swiper-slide > .wrapper > .enroll{
    max-width: 200px;
    text-align: center;
}
.wrap_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.wrap_flex > div{
    max-width: 400px;
    margin: 0 auto 30px;
    flex: 0 0 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrap_flex > div > img{
    margin: 0;
    width: 100%;
}
.wrap_flex > div > p{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    min-height: 90px;
    padding: 17px 30px 20px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 1px #d9d9d9;
    margin-top: -3px;
}
article > .wrapper{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
article > .wrapper > img{
    max-width: 100%;
    margin: 0 auto;
}
article > .wrapper > div{
    margin: 30px 0 0 0;
    display: block;
}
article > .wrapper > div > p{
    margin-bottom: 20px;
    line-height: 19px;
    text-align: left;
}
.benefits > .wrapper > div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
}
.benefits > .wrapper > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 100%;
    margin: 0 0 30px;
}
.benefits > .wrapper > div > div > h3{
    color: #000000;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    margin: 15px 0;
}
.benefits > .wrapper > div > div::before{
    content: "";
    background: url('../image/css_sprites.png') -140px -10px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div + div::before{
    content: "";
    background: url('../image/css_sprites.png') -276px -10px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div + div + div::before{
    content: "";
    background: url('../image/css_sprites.png') -10px -170px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div + div + div + div::before{
    content: "";
    background: url('../image/css_sprites.png') -138px -170px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div + div + div + div + div::before{
    content: "";
    background: url('../image/css_sprites.png') -267px -170px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div + div + div + div + div + div::before{
    content: "";
    background: url('../image/css_sprites.png') -10px -10px;
    height: 140px;
    width: 116px;   
}
.benefits > .wrapper > div > div > p{
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}
.mySwiper1 {
    padding: 0 0 30px;
}
.mySwiper1 > .swiper-wrapper{
    margin: 0 auto;
}
.swiper-button-next1, .swiper-button-prev1{
    display: none;
}
.mySwiper1 > .swiper-wrapper > .swiper-slide{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mySwiper1 > .swiper-wrapper > .swiper-slide > img{
    width: 100%;
}
.mySwiper1 > .swiper-wrapper > .swiper-slide > h3{
    font-size: 35px;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    margin: 30px 0 20px;
}
.mySwiper1 > .swiper-wrapper > .swiper-slide > p{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;    
}
.swiper-button-next_style{
    width: 27px;
    height: 27px;
    border-right: #333333 1px solid;
    border-top: #333333 1px solid;
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 6px;
    transform: rotate(45deg);
}
.swiper-button-prev_style{
    width: 27px;
    height: 27px;
    border-left: #333333 1px solid;
    border-bottom: #333333 1px solid;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 6px;
    transform: rotate(45deg);
}
.mySwiper2 > .swiper-wrapper > .swiper-slide > img{
    border-radius: 50%;
}
.mySwiper2 > .swiper-wrapper > .swiper-slide > article{
    display: block;
    margin: 0;
}
.mySwiper2 > .swiper-wrapper > .swiper-slide > article > h3{
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    display: block;
    position: relative;
    padding: 0 0 0 30px;
    margin: 0 0 20px 24px;
}
.mySwiper2 > .swiper-wrapper > .swiper-slide > article > h3::before{
    content: "";
    background: url('../image/css_sprites.png') -10px -318px;
    height: 24px;
    width: 24px;
    position: absolute;
    bottom: 7px;
    transform: translateX(-150%) translateY(0);
}
.mySwiper2 > .swiper-wrapper > .swiper-slide > article > p{
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    max-width: 570px;
}
.mySwiper2 > .swiper-wrapper > .swiper-slide{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.swiper-button-next2, .swiper-button-prev2{
    display: none;
}
.gallery > .wrapper > span{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}
.gallery > .wrapper > span > div{
    display: flex;
    flex-direction: row;
}
.small_photo{
    width: 100%;
    background: #000000;
    margin: 20px 5px 20px 5px;
    color: #FFFFFF;
}
.big_photo{
    width: 100%;
    background: #df0707;
    margin: 20px 0;
}
.map_filia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.map_filia_kharkiv{
    flex-direction: column-reverse;
}
.map{
    height: 395px;
    width: 609px;
    background: #adadad;
    margin: 0;
    position: relative;
    max-width: calc(100vw - 30px);
}
.map::before{
    content: "";
    background: url('../image/css_sprites.png') -10px -362px;
    height: 25px;
    width: 25px;
    position: absolute;
    top: 55%;
    left: 40%;
}
.map::after{
    content: "";
    background: url('../image/css_sprites.png') -402px -10px;
    height: 168px;
    width: 90px;
    position: absolute;
    top: 17%;
    left: 30%;
}
.map_comment{
    position: relative;
}
.map_comment > *{
    margin: 30px 0;
    max-width: 370px;
}
.map_comment > div{
    display: flex;
    align-items: center;
}
.map_comment > h3{
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    color: #282C71;
}
.map_comment > div > svg{
    width: 24px;
}
.map_comment > div > a{
    position: relative;
    padding: 0 0 0 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    display: block;
}
.map_filia_kharkiv > .map_comment > div{
    flex-direction: row-reverse;
    justify-content: flex-end;
}/*
.map_filia_kharkiv > .map_comment > .sosial_list{
    justify-content: flex-end;
}
.map_filia_kharkiv > .map_comment > .sosial_list > a{
    margin: 0 0 0 30px;
    padding: 0;
}*/
.sosial_list{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.map_comment > .sosial_list > a{
    margin: 0 30px 0 0;
    padding: 0;
}
.consult{
    border-bottom: 2px solid #282C71;
    margin-bottom: 30px;
}
.consult > .wrapper{
    justify-content: flex-start;
    margin-bottom: 50px;
}
.consult > .wrapper > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}
.consult > .wrapper > img{
    max-width: calc(100vw - 30px);
    margin: 0 auto;
}
.consult > .wrapper > form > input{
    display: block;
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #BBC9D0;
    min-width: calc(100vw - 30px);
    max-width: 404px;
}
.consult > .wrapper > form > input[type = "submit"]{
    margin-bottom: 70px;
    background: #282C71;
    border-radius: 25px;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 11px 68px;
    min-width: auto;
}
.consult > .wrapper > form > input[type = "submit"]:hover{
    cursor: pointer;
    background: #111168;
}
.footer_menu{
    justify-content: center;
}
.footer_menu > li{
    display: block;
}
.footer_menu > li:first-child{
    margin-bottom: 30px;
}
.footer_menu > .telephone{
    position: absolute;
    top: 300px;
    left: 30px;
}
.footer_menu > .adress{
    left: 0;
    top: 470px;
}
.footer_links{
    display: flex;
    flex-wrap: wrap;
}
.footer_links > a{
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #333333;
    display: flex;
    flex: 0 0 50%;
}
.footer_menu > .telephone > .mail{
    margin: 0 0 30px 5px;
}
.footer_menu > .telephone > .mail::before{
    content: "";
    background: url(../image/css_sprites.png) -52px -314px;
    height: 25px;
    width: 30px;
    position: absolute;
    left: -35px;
    top: -5px;
}
.footer_menu > .telephone > a{
    margin: 0;
    color: #333333;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.footer_menu > .adress > a{
    color: #333333;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}
.footer_links > a, .footer_menu > .telephone > a, .footer_menu > .adress > a, .footer_menu > .adress > .sosial_list{
    margin-bottom: 30px;
}
@media (min-width: 560px) {
    .wrap_flex > div{
        flex: 0 0 48%;
    }
    .benefits > .wrapper > div > div {
        flex: 0 0 48%;
    }
    .wrapper{
        margin: 0 40px;
    }
    .map{
        margin: 0 auto;
    }
    .consult > .wrapper > form > input{
        min-width: 400px;
    }
    .consult > .wrapper > form {
        align-items: flex-start;
        margin: 0 auto;
    }
    .footer_menu{
        justify-content: space-between;
        padding: 0;
    }
    .footer_menu > li{
        flex: 0 0 50%;
    }
    .footer_menu > .adress{
        position: static;
    }
    .footer_menu > .telephone{
        position: static;
        flex: auto;
        margin: 0 0 0 50px;
    }
}
@media (min-width: 800px) {
    .wrap_flex > div{
        flex: 0 0 32%;
    }
    .benefits > .wrapper > div > div{
        flex: 0 0 30%;
        margin: 0 5px 20px;
    }
    .footer_menu > li{
        flex: 0 0 20%;
    }
    .footer_menu > li + li{
        flex: 0 0 30%;
    }
    .footer_menu > .adress{
        flex: 0 0 20%;
    }
    .footer_menu > .telephone{
        flex: 0 0 15%;
        margin: 0;
    }
    .footer_menu > .telephone > a, .footer_menu > .adress > a{
        display: block;
    }
    .footer_menu > li:first-child{
        margin-bottom: 0;
    }
}
@media (min-width: 865px) {
    .mySwiper2 > .swiper-wrapper > .swiper-slide > article{
        margin: 0 0 0 30px;
    }
    .mySwiper2 > .swiper-wrapper > .swiper-slide > article > h3{
        font-size: 30px;
        text-align: left;
        margin: 0 0 20px 39px;
    }
    .mySwiper2 > .swiper-wrapper > .swiper-slide > article > h3::before{
        left: -39px;
        transform: translateX(0) translateY(0);
    }
    .mySwiper2 > .swiper-wrapper > .swiper-slide > article > p{
        text-align: left;
    }
}
@media (min-width: 900px) {
    .header_menu{
        background: linear-gradient(to bottom, #DEE4E9, #DEE4E9 33%, #F6F6F6 33%);
    }
    .horizon_flex{
        padding: 0;
    }
    .adress{
        flex: 0 0 40%;/*//////////////////// edited ////////////////////*/
        margin: 15px 0;
        position: static;
    }
    .adress > a{
        margin: 0 21px 10px 28px;
        flex: 0 0 100%;
    }
    .telephone{
        flex: 0 0 60%;/*//////////////////// edited ////////////////////*/
        text-align: end;
        margin: 15px 0;
        position: static;
    }
    .telephone > a{
        margin: 0 0 10px 88px;
    }
    .header_menu > .wrapper > .telephone > .submit{
        display: block;
        padding: 9px 32px;
        color: #FFFFFF;
        background: #282C71;
        border-radius: 25px;
        position: absolute;
        right: 0;
        transform: translateY(15%);
    }
    .header_menu > .wrapper > .telephone > .submit:hover{
        background: #111168;
    }
    .sosial{
        display: none;
    }
    .header_menu > .wrapper > .horizon_flex > .logo{
        flex: 0 0 28%;
        text-align: left;
        border-bottom: none;
        margin-bottom: 20px;/*//////////////////// edited ////////////////////*/
    }
    .header_menu > .wrapper > .horizon_flex > .logo::after{
        display: none;
    }
    .header_menu > .wrapper > .horizon_flex > .logo::before{
        display: none;
    }
    .links_header_menu{
        flex: 0 0 72%;
        margin: 0;
        flex-direction: row;
        border-bottom: none;
    }
    .links_header_menu > .main_page_menu_link{
        display: none;
    }
    .links_header_menu > .conacts_menu_link{
        display: block;
    }
    .links_header_menu > a + a{
        margin: 0 0 0 50px;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > a:hover{
        color: #282C71;
    }
    .header_menu > .wrapper > .horizon_flex > div > a, .header_menu > .wrapper > .horizon_flex > div > nav > a{
        font-size: 16px;
        font-weight: 600;
        color: #282C71;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > .active{
        color: #282C71;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage{
        flex: 0 0 17%;
        padding: 0;
        border-bottom: none;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > a{
        text-transform: none;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > a:first-child{
        display: inline;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > a{
        color: #909090;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage > a:hover{
        color: #282C71;
    }
    .header_menu > .wrapper > .horizon_flex > div > .enroll{
        display: block;
        color: #FFFFFF;
        flex: 0 0 29%;
    }
    .header_menu > .wrapper > .horizon_flex > div{
        width: auto;
    }
    article > .wrapper{
        flex-wrap: nowrap;
    }
    article > .wrapper > img{
        max-width: 50%;
        margin: 0;
    }
    article > .wrapper > div{
        margin: 30px 0 30px 30px;
        display: block;
    }
    .benefits > .wrapper > div > div > p{
        font-size: 16px;
    }
    .map{
        max-width: 50%;
    }
    .map_filia{
        justify-content: flex-start;
    }
    .map_filia_kharkiv > .map{
        margin: 0 0 0 30px;
    }
    .map_filia_kharkiv > .map_comment > div{
        justify-content: flex-end;
        flex-direction: row;
    }
    .map_filia_kharkiv > .map_comment > h3{
        text-align: right;
    }
    .sosial_list{
        justify-content: flex-start;
    }
    .header_menu > .wrapper > .horizon_flex > .sosial_list{
        display: none;
    }
    .map_filia_kharkiv{
        justify-content: flex-end;
        flex-direction: row;
    }
    .map_filia_kharkiv > .map::after{
        position: absolute;
        top: 17%;
        left: 38%;
        transform: scaleX(-1);
    }
    .map_filia_kharkiv > .map_comment > div >  a{
        text-align: right;
        padding: 0 33px 0 0; 
    }
    .map_filia_kharkiv > .map_comment > .sosial_list{
        justify-content: flex-end;
    }
    .map_filia_kharkiv > .map_comment > .sosial_list > a{
        margin: 0 0 0 30px;
        padding: 0;
    }
}
@media (min-width: 946px) {
    .map{
        margin: 0 30px 0 0;
    }
}
@media (min-width: 1200px) {
    .header_menu > .wrapper > .horizon_flex > .logo{
        flex: 0 0 15%;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage{
        flex: 0 0 13%;
    }
    .header_menu > .wrapper > .horizon_flex > .links_header_menu_wrapper{
        flex: 0 0 53%;
    }
    .header_menu > .wrapper > .horizon_flex > div{
        flex: 0 0 18%;
    }
}
@media (min-width: 1300px) {
    h2{
        font-size: 50px;
    }
    p{
        font-size: 16px;
    }
    .wrapper{
        margin: 0 auto;
        width: 1254px;
    }
    .header_menu{
        background: linear-gradient(to bottom, #DEE4E9, #DEE4E9 33%, #F6F6F6 33%);
    }
    .horizon_flex{
        padding: 0;
    }
    .adress{
        flex: 0 0 44%;
        margin: 15px 0;
        position: static;
    }
    .adress > a{
        display: inline;
        margin: 0 21px 0 28px;
    }
    .telephone{
        flex: 0 0 56%;
        text-align: end;
        margin: 15px 0;
        position: static;
    }
    .telephone > a{
        display: inline;
        margin: 0 0 0 88px;
    }
    .header_menu > .wrapper > .telephone > .submit{
        transform: translateY(-23%);
        right: 40%;
    }
    .sosial{
        display: none;
    }
    .header_menu > .wrapper > .horizon_flex > .logo{
        flex: 0 0 15%;
        margin-bottom: 0;
    }
    .links_header_menu{
        flex: 0 0 50%;
        margin: 0;
        flex-direction: row;
        border-bottom: none;
    }
    .links_header_menu > .main_page_menu_link{
        display: none;
    }
    .links_header_menu > .conacts_menu_link{
        display: block;
    }
    .header_menu > .wrapper > .horizon_flex > .lenguage{
        flex: 0 0 12%;
    }
    article > .wrapper{
        flex-wrap: nowrap;
    }
    article > .wrapper > img{
        max-width: 50%;
        margin: 0;
    }
    article > .wrapper > div{
        margin: 30px 0 30px 30px;
        display: block;
    }
    .benefits > .wrapper > div > div{
        margin: 0 15px 30px;
    }
    .mySwiper1{
        padding: 0 45px 45px;
    }
    .swiper-button-next1, .swiper-button-prev1{
        display: block;
    }
    .swiper-pagination-bullets{
        display: none;
    }
    .swiper-button-next1, .swiper-button-prev1{
        display: block;
    }
    .swiper-pagination-bullets{
        display: none;
    }
    .gallery > .wrapper > span{
        margin: 0 -30px;
    }
    .gallery > .wrapper > span > div{
        flex-direction: column;
    }
    .small_photo{
        width: 184px;
        height: 184px;
        margin: 30px 0 0 30px;
    }
    .big_photo{
        width: 398px;
        height: 398px;
        margin: 30px 0 0 30px;
    }
    .map{
        margin: 0 140px 0 0;
    }
    .consult > .wrapper{
        margin-bottom: 120px;
    }
    .consult > .wrapper > img{
        max-width: 100%;
    }
}